/*==================================================================================================*/
  
.ui-widget-header, .ui-state-default, ui-button, .ui-widget-content {
    background: #2f4257;
    color: #6AAAC9;
    border: 1px solid #6AAAC9;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#tab{
    color: #6AAAC9;
    background: white;
    text-decoration: none;
    z-index: 1;
}
  
input, textarea {
    background: #2e3e52;
    color: rgb(162, 205, 226);
    border: 1px solid #6AAAC9;
    width: 450px;
    height: 50px;
    font-weight: bold;
}
  
textarea {
    position: relative;
    width: 1370px;
    height: 900px;
  
    font-size: 25px;
    font-weight: normal;
}
  
.names {
    color: #6AAAC9;
  
    font-size: 25px;
    font-weight: normal;
}
  
button {
    background: #425770;
    color: #6AAAC9;
    border: none;
    font-weight: bold;
    font-size: 25px;
}
  
iframe{
    margin: 0;
    position: relative;
    left: -10px;
    top: -50px;
}

body{
    margin: 0;
    padding: 0;
    background: #121920;

}

/*==================================================================================================*/

#LEVEL{
    position: relative;
}

#one{
    width: 200px;
    height: 50px;
    background: #425770;
    border: none;
    color: #6AAAC9;
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.two{
    width: 200px;
    height: 50px;
    background: #425770;
    border: none;
    color: #6AAAC9;
    font-size: 20px;
    font-weight: bold;
}
.button{
    width: 200px;
    height: 50px;
    float: right;
}

.menu-button{
    background: #2f4257;
    color: #6AAAC9;
    width: 150px;
    padding: 20px;
    font-weight: bold;
    float: left;
}