<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="logo/logo_main.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/js/jquery-ui/jquery-ui.css">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery-ui/jquery-ui.js"></script>
    <script src="../static/js/engine/egbcore.min.js"></script>
    <script src="../static/js/engine/egbcore.loaders.min.js"></script>
    <script src="../static/js/engine/egbcore.objFileLoader.min.js"></script>

    <title>EGB-ENGINE</title>
</head>
<body>
    <div id="CODE"></div>
    <div id="LEVEL">
        <canvas id="renderCanvas">YOUR BROWSER DOES NOT SUPPORT US!</canvas>
        <script src="../static/js/engine/engine.js"></script>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>